/*******************
* Generic
*******************/

body {
	padding-top: 70px;
	font-family: Arial,Helvetica,sans-serif;
	background: #efefef;
}

body * {
	transition-property: all;
	transition-duration: 400ms;
	box-sizing: border-box;
}

#globalControls {
	position: fixed;
	top: 10px;
	right: 16px;
}

.unread {
	color: gray;
}

.fullContainer {
	position: absolute;
	top: 100px;
	left: 50%;
	width: 600px;
	height: 400px;
	margin-left: -300px;
	background: #312e2e;
}

body[data-view="transcript"] .fullContainer {
	top: 50%;
	left: 10px;
	width: 300px;
	height: 400px;
	margin-top: -240px;
	margin-left: 0px;
	background: white;
	padding: 1em;
}

body[data-view="transcript"] .videoContainer {
	height: 100%;
}

body[data-view="transcript"] .timelineContainer {
	top: 0px;
	right: -20px;
	width: 20px;
	height: 100%;
}

body[data-view="transcript"] .originalContainer {
	top: 50%;
	left: auto;
	right: 10px;
	width: 400px;
	height: 300px;
	margin-top: -180px;
	margin-left: 0px;
	background: white;
	padding: 1em;;
}

body[data-view="video"] .transcriptContainer {
	pointer-events: none;
}

.originalContainer {
	position: absolute;
	top: 600px;
	left: 50%;
	width: 200px;
	height: 120px;
	margin-left: -100px;
	background: #312e2e;
}

.videoContainer {
	position: relative;
	width: 100%;
	min-height: 400px;
}

.videoContainer video, .originalContainer video {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

body[data-view="video"] video {
	opacity: 1;
}

.videoContainer .transcriptContainer, .originalContainer .originalTranscriptContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

body[data-view="transcript"] .transcriptContainer, body[data-view="transcript"] .originalTranscriptContainer {
	opacity: 1;
}

.videoContainer .transcriptContainer #transcript {
	height: calc(100% - 1em);
	overflow: auto;
}

.timelineContainer {
	position: absolute;
	top: auto;
	bottom: -20px;
	background: #AFAFAF;
	height: 20px;
	width: 100%;
}

.timelineItem {
	position: absolute;
	bottom: -10px;
	height: 10px;
	background: #ff0000;
}

body[data-view="transcript"] .timelineItem {
	bottom: auto;
	height: auto;
	width: 10px;
	right: -10px;
}

.timelineItem.active {
	background: #00ff00;
}

.timelineContainer .ui-slider-range {
	background: #888888;
	box-sizing: border-box;
	border-right: 2px solid #000000;
}

body[data-view="transcript"] .timelineContainer .ui-slider-range {
	border-right: none;
	border-top: 2px solid #000000;
}

.timelineContainer .ui-slider-handle {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 16px;
	margin-left: -8px;
	background: transparent;
}

.timelineContainer .ui-slider-handle:focus {
	outline: none;
}

.timelineContainer .ui-slider-handle:after {
	position: absolute;
	bottom: 0px;
	left: 0px;
	content: "";
	border-bottom: 12px solid #000000;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

body[data-view="transcript"] .timelineContainer .ui-slider-handle {
	top: auto;
	left: 0px;
	bottom: auto;
	height: 16px;
	width: 100%;
	margin-left: 0px;
	margin-bottom: -13px;
}


body[data-view="transcript"] .timelineContainer .ui-slider-handle:after {
	left: auto;
	right: 0px;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right: 8px solid #000;
	border-left: none;
}

.controlsContainer {
	margin-top: 40px;
}

.controlsContainer button {
	background-size: 100%;
	width: 30px;
	height: 30px;
}

.controlsContainer .playButton.playing {
	background: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:play?source=test') no-repeat;
}

.controlsContainer .playButton {
	background: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:pause?source=test') no-repeat;
}

body[data-view="transcript"] .controlsContainer {
	margin-top: 10px;
}

/*******************
* Media Queries
*******************/

@media (min-width: 1220px) and (max-width: 2000px) {

}

@media (min-width: 1010px) and (max-width: 1220px) {

}

@media (min-width: 650px) and (max-width: 1010px) {

}

@media (max-width: 650px) {

}

@media screen and (max-width: 480px) {

}
